@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Vollkorn&display=swap');

body{
	max-width: 980px;
	margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}


.main-menu ul{
	list-style-type: none;
	font-family: 'Fascinate Inline', cursive;
	display: flex;
	justify-content: space-around;
	padding: 0;
}

header h1{
	font-family: 'Vollkorn', serif;
	text-transform: uppercase;
	text-align: center;
}

.h1-wrapper{
	display: flex;
	justify-content: center;
}

.header-title-wrapper{
	display: flex;
	justify-content: space-around;
}

.header-title{
	text-align: center;
}

/*ARTICLE START*/
/* article{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.preview-news-gallery, .preview-contacts-enroll{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;

}

img{
    margin-left: 7%;
    margin-bottom: 10px;
}

.preview-news, .preview-gallery, .preview-contacts, .preview-enroll{
    border: 1px solid black;
    margin: 2px;
}

.preview-news-text{
    position: relative;
}

.preview-news-text a{
    position: absolute;
    margin: 20px 0 0 20px;
    border: 1px solid black;
    padding: 7px;
}

.a-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0 0 10px 0;
}

.gallery-next, .gallery-back{
    border: 1px solid black;
    padding: 5px;
}


article section h2{
    text-align: center;
}
/*ARTICLE END*/

/*FOOTER START*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/*FOOTER END*/

img{
    display: block;
}